{% extends "base.html" %}
{% block content %}
  <h2>Добави продукт</h2>
  <form method="post">
    <label>Име</label><br><input name="name" required><br>
    <label>Описание</label><br><textarea name="description"></textarea><br>
    <label>Цвят</label><br><input name="color"><br>
    <label>Размери (разделени с запетаи, напр. 40,41,42)</label><br><input name="sizes"><br>
    <label>Цена</label><br><input name="price" type="number" step="0.01"><br>
    <label>Наличност</label><br><input name="stock" type="number" value="0"><br>
    <button type="submit">Добави</button>
  </form>
{% endblock %}
