<!doctype html>
<html lang="bg">
<head>
  <meta charset="utf-8" />
  <title>ShoeStore</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1><a href="{{ url_for('index') }}">ShoeStore</a></h1>
    <nav>
      <a href="{{ url_for('catalog.catalog') }}">Каталог</a>
      <a href="{{ url_for('cart.cart') }}">Кошница</a>
      {% if session.get('user_id') %}
        <a href="{{ url_for('auth.logout') }}">Изход</a>
        {% if session.get('is_admin') %}
          <a href="{{ url_for('admin.products') }}">Admin</a>
        {% endif %}
      {% else %}
        <a href="{{ url_for('auth.login') }}">Вход</a>
        <a href="{{ url_for('auth.register') }}">Регистрация</a>
      {% endif %}
    </nav>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, msg in messages %}
          <li class="flash {{ category }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>


</body>
</html>
